.salonItemContainer {
  width: 100%;
  border-bottom: solid 0.5px #eeeeee;
  display: flex;
}

.cardData {
  display: flex;
  flex-direction: column;
  margin: 15px;
  font-weight: bold;
  align-items: baseline;
  flex: 1 0 auto;
}

.cardData:nth-child(3) {
  align-items: flex-end;
}

.cardData:last-child {
  justify-content: center;
  align-items: flex-end;
}

.marginTop {
  margin-top: 10px;
}

.fontBold {
  font-weight: bolder;
}